.articulo {
	margin-bottom: 10vh;
}

.articulo h2 {
	color: #666666;
	font-weight: 700;
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.articulo h3 {
	color: #0060A2;
	font-weight: 700;
	margin-bottom: 3vh;
}

.articulo h4 {
	color: #666666;
	line-height: 1;
	margin-bottom: 5vh;
}

.articulo p {
	color: #808080;
}

.author {
	padding-top: 5vh;
	paddin-bottom: 15vh;
}

.date i {
	margin-right: 1.5%;
	font-size: 1.2em;
}

