.row {
	margin-right: 0;
	margin-left: 0;
}

.content h2 {
	text-align: center;
	color: #666666;
	font-weight: 700;
	margin-bottom: 2vh;
}

.content p {
	text-align: center;
	margin-bottom: 8vh;
}

.content .img-responsive{
	width: 400px;
}

.thumbnail {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.btn_content {
	background-color: #4582DD;
	border-radius: 0;
	border: none;
	padding-left: 40%;
	padding-right: 40%;
	background-image: none;
	background-image: none;
	background-image: none;
}

.thumbnail_p {
	margin-top: 10%;
	text-align: center;
}

.thumbnail h3 {
	color: #333333;
}