.header_nosotros {
	background-image: url(../images/portada_4.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 12vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.nosotros h2 {
	color: #0060A2;
	font-weight: 700;
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.header_nosotros h1 {
	font-weight: 700;
	color: #0060A2;
}

.header_nosotros p {
	color: #666666;
}

.imagenes {
	display: flex;
	justify-content: center;
	padding-top: 3%;
	padding-bottom: 10%;
}



$break-medium: 768px; 

.header_nosotros h1 {
	@media screen and (max-width: $break-medium) {
    	margin-top: 10%;
  }
}


$break-small: 320px; 

.header_nosotros h1 {
	@media screen and (max-width: $break-small) {
    	margin-top: 40%;
  }
}

